{% extends 'base.html.twig' %}

{% block title %}Ajouter un Service{% endblock %}

{% block body %}
<h1 class="py-1 mt-2 text-light text-center">Ajouter un Service</h1>

    {{ include('service/_form.html.twig') }}

    <a class="btn btn-info" role="button" href="{{ path('service_index') }}">Retour à la liste</a>
{% endblock %}
