{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1 class="py-1 mt-2 text-light text-center">Ajouter une Réservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a class="btn btn-info" role="button" href="{{ path('reservation_index') }}">Retour à la liste</a>
{% endblock %}
