


<form method="post" action="{{ path('client_delete', {'id_cli': client.id_cli}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id_cli) }}">
    <button id="deletebtn" class="btn btn-danger">Supprimer</button>
</form>
